<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223377124193-6m3bteeas9a5t43n25qsiuupg53ur1j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223377124193-6m3bteeas9a5t43n25qsiuupg53ur1j9</string>
	<key>API_KEY</key>
	<string>AIzaSyAEGJDanc8orwET9LDOlvTsDKMtusNE570</string>
	<key>GCM_SENDER_ID</key>
	<string>223377124193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FallikTheCat.Mobiroller.MobirollerApp</string>
	<key>PROJECT_ID</key>
	<string>mobirollerapp-19ce9</string>
	<key>STORAGE_BUCKET</key>
	<string>mobirollerapp-19ce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223377124193:ios:f4881a6d4c0327ae06f320</string>
</dict>
</plist>